{% extends "app003/base.html" %}

{% block content %}
<style>
  .bouton-supprimer {
      display: inline-block;
      padding: 5px 10px;
      background-color: #dc3545; /* Couleur de fond du bouton */
      color: white; /* Couleur du texte */
      text-align: center;
      text-decoration: none; /* Supprimer le soulignement du lien */
      border-radius: 5px; /* Bord arrondi */
      cursor: pointer; /* Curseur de la souris */
  }

  /* Effet de survol */
  .bouton-supprimer:hover {
      background-color: #c82333; /* Couleur de fond au survol */
  }
  .bouton-rond {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #007bff; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    text-align: center;
    line-height: 25px; /* Centrer le texte verticalement */
    border-radius: 50%; /* Bord arrondi pour créer un bouton rond */
    font-size: 20px; /* Taille du texte */
    cursor: pointer; /* Curseur de la souris */
    text-decoration: none; /* Supprimer le soulignement du lien */
  }
</style>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group" id="item_list">
      <h3 class="text-center">Voici votre liste</h3>
    </ul> 
    {% if cart %}
      {% for order in orders %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{order.product.title}}
          <div>
            <a href="{% url 'cart_moins' order.product.id %}" class="bouton-rond">-</a>
            <span class="badge badge-primary badge-pill">QTE: {{order.quantity}} X {{order.product.price}}</span>
            <a href="{% url 'cart' order.product.id %}" class="bouton-rond">+</a>
          </div>
          <span class="badge badge-warning badge-pill">FCFA {{order.prix_total}}</span>
          <a href="{% url 'cart_supprimer' order.id %}" class="bouton-supprimer">Supprimer</a>
        </li> 
      {% endfor %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Livraison
        <span class="badge badge-warning badge-pill">FCFA {{cart.prix_livraison}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <b class="bg-danger" >PRIX ET QUANTITE TOTAL</b>
      <span class="badge badge-danger badge-pill">TQTE: {{cart_number}}</span>
      <span class="badge badge-danger badge-pill">FCFA {{cart.total}}</span>
    </li>
  </div>
</div>
<div class="row" style="margin-top: 80px;">
    <div class="col-md-12">
        <h3 class="text-center">Passez Votre Commande</h3>
        <form method="POST"> 
            {% csrf_token %}
            <center>
              <div class="form-group col-md-5">
                <label for="inputAddress"> Adresse </label>
                <input type="text" id="adresse"  name="adresse" class="form-control" id="inputAddress" placeholder="Votre adresse">
              </div>
      
              <div>
                <div class="form-group col-md-5">
                  <label for="inputCity"> Ville </label>
                  <input type="text" id="ville" name="ville"  class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-5">
                  <label for="inputState"> Pays </label>
                  <select id="pays" name="pays" class="form-control">
                    <option selected>Cote d'ivoire</option>
                    <option>Sénegal</option>
                    <option>Burkina Faso</option>
                    <option>Ghana</option>
                    <option>Togo</option>
                    <option>Cameroun</option>
                  </select>
                </div>
                <div class="form-group col-md-5">
                  <label for="inputZip"> Zip </label>
                  <input name="zipcode" id="zipcode" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Commander</button>
              </div>
            </center>
          </form>
    </div>
</div>
{% else %}
<center>
  <p>Votre liste est vide</p>
</center>
{% endif %}

{% endblock %}
{% block js %}
{% endblock %}